<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://material.io flutter.github.io https://www.google-analytics.com https://stats.g.doubleclick.net https://www.gstatic.com img.shields.io 'self' data:; script-src https://*.google.com http://*.google.com https://www.gstatic.com https://adservice.google.com https://www.googletagmanager.com https://www.google-analytics.com survey.g.doubleclick.net 'unsafe-inline' 'self'; style-src https://fonts.googleapis.com/css https://feedback.googleusercontent.com https://www.gstatic.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com/s/ 'self'; child-src https://feedback.googleusercontent.com http://www.google.com;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
    <title>Radio Buttons - Material Components for Android</title>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NHRPF8');
    </script>
    <!-- End Google Tag Manager -->
    <meta itemprop="name" content="Radio Buttons - Material Components for Android" />
    <meta itemprop="image" content="https://material.io/static/images/simple-lp/components-share.png" />
    <meta name="description" content="Radio Buttons are groupable buttons with two states: selected and unselected." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Radio Buttons - Material Components for Android" />
    <meta property="og:site_name" content="Material Components for Android" />
    <meta property="og:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <meta property="article:section" content="Radio Buttons" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@materialdesign">
    <meta name="twitter:title" content="Material Components">
    <meta name="twitter:description" content="Create beautiful apps with modular and customizable UI components">
    <meta name="twitter:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <link rel="icon" sizes="192x192" href="/develop/images/app-icons/material-logo-app-icon-192x192.png">
    <link rel="shortcut icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/develop/images/app-icons/material-logo-app-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/develop/images/app-icons/material-logo-app-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://material.io/static/images/hub/favicons/hub-ms-icon-144x144.png">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/develop/css/codemirror.css">
    <link rel="stylesheet" href="/develop/css/neo.css">
    <link rel="stylesheet" href="/develop/css/app.css">
    <script async="" defer="" src="https://www.google.com/insights/consumersurveys/async_survey?site=znr647dh46pklceehuqef2fsua"></script>
  </head>
  <body class="page page--detail page--components page--platform-android">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHRPF8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <aside class="page__temporary-drawer mdc-drawer mdc-drawer--temporary page_drawer--temporary">
      <nav class="temporary-drawer__drawer mdc-drawer__drawer mdc-drawer__content">
        <header class="temporary-drawer__header mdc-drawer__header">
          <div class="temporary-drawer__header-content mdc-drawer__header-content">
            <div class="temporary-drawer__header-icon develop-toolbar__leading-icon"></div>
            Material Design
          </div>
        </header>
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </nav>
    </aside>
    <header class="develop-toolbar mdc-toolbar mdc-toolbar--fixed
    
    
      mdc-toolbar--platform
    ">
      <div class="search-form" id="top-level-search-bar">
        <form class="search-form__form" id="top-level-search-form">
          <input type="text"
        class="search-form__input"
        id="top-level-search-input"
        autocomplete="off" />
        </form>
        <div class="search-form__label" id="top-level-search-label">Search</div>
        <button
      class="search-form__button search-form__button--close"
      id="top-level-search-close"
      aria-label="Close search">
          <div class="search-form__close-icon" id="close-button-icon" data-mdc-ripple-is-unbounded></div>
        </button>
      </div>
      <div class="develop-toolbar__row mdc-toolbar__row">
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-start">
          <button class="menu-button" id="menu-open">
            <div class="menu-button__icon menu-button__icon--initial-load" id="menu-icon"></div>
          </button>
          <a class="develop-toolbar__title-link" href="/">
            <div class="develop-toolbar__leading-icon"></div>
            <h1 class="develop-toolbar__title mdc-toolbar__title">
              Material Design
            </h1>
          </a>
        </section>
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
          <nav id="navigation-tabs" class="develop-tab-bar">
            <a href="/design"
      class="develop-tab">
              Design
            </a>
            <a href="/components"
      class="develop-tab">
              Components
            </a>
            <a href="/develop"
      class="develop-tab develop-tab--active">
              Develop
              <span class="develop-tab__nav-indicator"></span>
            </a>
            <a href="/resources"
     class="develop-tab">
              Resources
            </a>
          </nav>
          <section class="develop-toolbar__section develop-toolbar__section--search mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
            <button 
    class="search-form__button search-form__button--open"
    id="top-level-search-open"
    aria-label="Search">
              <div class="search-form__search-icon" id="spyglass-icon"></div>
            </button>
          </section>
        </section>
      </div>
    </header>
    <div class="page__content page__flex-element">
      <div class="page__drawer mdc-permanent-drawer">
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </div>
      <section class="page__main-section">
        <article class="page__article article article--icon-radiobutton">
          <h1 id="radio-buttons">Radio Buttons</h1>
          <p>A <code>RadioButton</code> represents a button with two states, selected and unselected.
            Unlike checkboxes, changes in the states of one radio button can affect other
            buttons in the group. Specifically, selecting a <code>RadioButton</code> in a <code>RadioGroup</code>
            will de-select all other buttons in that group. A radio button is a circle which
            fills in with an inset when selected.</p>
          <h2 id="design--api-documentation">Design &amp; API Documentation</h2>
          <ul class="icon-list">
            <li class="icon-list-item icon-list-item--spec"><a href="https://material.io/go/design-radio-buttons">Material Design guidelines: Radiobuttons</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://github.com/material-components/material-components-android/tree/master/lib/java/com/google/android/material/radiobutton/MaterialRadioButton.java">Class definition</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://developer.android.com/reference/android/widget/RadioButton">Class overview</a></li>
          </ul>
          <h2 id="usage">Usage</h2>
          <p>The <code>MaterialRadioButton</code> widget provides a complete implementation of Material
            Design’s radio button component. It is auto-inflated when using a non-Bridge
            Theme.MaterialComponents.* theme which sets the MaterialComponentsViewInflater.
            Example code of how to include the widget in your layout:</p>
          <pre><code class="language-xml">&lt;RadioGroup
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:checkedButton="@+id/first"
    android:orientation="vertical"&gt;
  &lt;RadioButton
      android:id="@+id/first"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:text="@string/first_label"/&gt;
  &lt;RadioButton
      android:id="@+id/second"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:text="@string/second_label"/&gt;
&lt;/RadioGroup&gt;
</code></pre>
          <h3 id="material-styles">Material Styles</h3>
          <p>Using a Material Components theme with <code>MaterialRadioButton</code> will match the
            color of <code>RadioButton</code> views to your theme’s palette. If you want to override
            this behavior, as you might with a custom drawable, set the
            <code>useMaterialThemeColors</code> parameter to false.</p>
          <pre><code class="language-xml">&lt;RadioButton xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:app="http://schemas.android.com/apk/res-auto"
  android:layout_width="wrap_content"
  android:layout_height="wrap_content"
  app:useMaterialThemeColors="false"/&gt;
</code></pre>
          <h3 id="styles">Styles</h3>
          <p>Use <code>radioButtonStyle</code> for style changes.</p>
          <pre><code class="language-xml">  &lt;item name="radioButtonStyle"&gt;@style/Widget.MaterialComponents.CompoundButton.RadioButton&lt;/item&gt;
</code></pre>
        </article>
        <footer class="footer">
          <section class="footer__content">
            <div class="footer__row">
              <a class="footer__logo-link">
                <div class="footer__logo"></div>
              </a>
              <div class="footer__copy">
                <p class="footer__description">Material design is an adaptable system—backed by open-source code—guiding you in the principles and best practices of contemporary UI. Material helps teams streamline the designer-developer collaboration, reduce complexity, and enable fidelity through reusable components, patterns, and code libraries. All while adapting easily to your brand, platform, and users’ needs.</p>
                <nav class="footer__navigation">
                  <ul class="footer__navigation-list">
                    <li class="footer__navigation-list-item">
                      <a href="https://www.github.com/material-components"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Github
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.twitter.com/materialdesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Twitter
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.youtube.com/googledesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        YouTube
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://services.google.com/fb/forms/materialdesignnewsletter/"
                  target="_blank"
                  class="footer-block__social-nav-link"
                  aria-label="Sign up for our newsletter">
                        Newsletter
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="footer__row footer-legal">
              <a class="footer-legal__logo-container" href="https://google.com">
                <img src="/develop/images/google-logo-gray.svg" alt="Google" />
              </a>
              <ul class="footer-legal__nav-list">
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/privacy"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Privacy Policy
                  </a>
                </li>
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/terms"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Terms and Conditions
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </footer>
      </section>
    </div>
    <template id="language-radio-template">
      <div class="mdc-form-field">
        <div class="mdc-radio">
          <input class="mdc-radio__native-control"
             type="radio"
             id="" name="" value="">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
        </div>
        <label class="language-name" for=""></label>
      </div>
    </template>
    <button
    class="feedback-button"
    aria-label="Send Feedback"
    tabindex="0">
    </button>
    <script src="/develop/js/index.js" async></script>
    <script src="https://www.gstatic.com/feedback/api.js" async></script>
  </body>
</html>