<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://material.io flutter.github.io https://www.google-analytics.com https://stats.g.doubleclick.net https://www.gstatic.com img.shields.io 'self' data:; script-src https://*.google.com http://*.google.com https://www.gstatic.com https://adservice.google.com https://www.googletagmanager.com https://www.google-analytics.com survey.g.doubleclick.net 'unsafe-inline' 'self'; style-src https://fonts.googleapis.com/css https://feedback.googleusercontent.com https://www.gstatic.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com/s/ 'self'; child-src https://feedback.googleusercontent.com http://www.google.com;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
    <title>Text Fields - Material Components for Android</title>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NHRPF8');
    </script>
    <!-- End Google Tag Manager -->
    <meta itemprop="name" content="Text Fields - Material Components for Android" />
    <meta itemprop="image" content="https://material.io/static/images/simple-lp/components-share.png" />
    <meta name="description" content="A text field with an animated floating label and other Material Design features." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Text Fields - Material Components for Android" />
    <meta property="og:site_name" content="Material Components for Android" />
    <meta property="og:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <meta property="article:section" content="Text Fields" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@materialdesign">
    <meta name="twitter:title" content="Material Components">
    <meta name="twitter:description" content="Create beautiful apps with modular and customizable UI components">
    <meta name="twitter:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <link rel="icon" sizes="192x192" href="/develop/images/app-icons/material-logo-app-icon-192x192.png">
    <link rel="shortcut icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/develop/images/app-icons/material-logo-app-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/develop/images/app-icons/material-logo-app-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://material.io/static/images/hub/favicons/hub-ms-icon-144x144.png">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/develop/css/codemirror.css">
    <link rel="stylesheet" href="/develop/css/neo.css">
    <link rel="stylesheet" href="/develop/css/app.css">
    <script async="" defer="" src="https://www.google.com/insights/consumersurveys/async_survey?site=znr647dh46pklceehuqef2fsua"></script>
  </head>
  <body class="page page--detail page--components page--platform-android">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHRPF8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <aside class="page__temporary-drawer mdc-drawer mdc-drawer--temporary page_drawer--temporary">
      <nav class="temporary-drawer__drawer mdc-drawer__drawer mdc-drawer__content">
        <header class="temporary-drawer__header mdc-drawer__header">
          <div class="temporary-drawer__header-content mdc-drawer__header-content">
            <div class="temporary-drawer__header-icon develop-toolbar__leading-icon"></div>
            Material Design
          </div>
        </header>
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </nav>
    </aside>
    <header class="develop-toolbar mdc-toolbar mdc-toolbar--fixed
    
    
      mdc-toolbar--platform
    ">
      <div class="search-form" id="top-level-search-bar">
        <form class="search-form__form" id="top-level-search-form">
          <input type="text"
        class="search-form__input"
        id="top-level-search-input"
        autocomplete="off" />
        </form>
        <div class="search-form__label" id="top-level-search-label">Search</div>
        <button
      class="search-form__button search-form__button--close"
      id="top-level-search-close"
      aria-label="Close search">
          <div class="search-form__close-icon" id="close-button-icon" data-mdc-ripple-is-unbounded></div>
        </button>
      </div>
      <div class="develop-toolbar__row mdc-toolbar__row">
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-start">
          <button class="menu-button" id="menu-open">
            <div class="menu-button__icon menu-button__icon--initial-load" id="menu-icon"></div>
          </button>
          <a class="develop-toolbar__title-link" href="/">
            <div class="develop-toolbar__leading-icon"></div>
            <h1 class="develop-toolbar__title mdc-toolbar__title">
              Material Design
            </h1>
          </a>
        </section>
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
          <nav id="navigation-tabs" class="develop-tab-bar">
            <a href="/design"
      class="develop-tab">
              Design
            </a>
            <a href="/components"
      class="develop-tab">
              Components
            </a>
            <a href="/develop"
      class="develop-tab develop-tab--active">
              Develop
              <span class="develop-tab__nav-indicator"></span>
            </a>
            <a href="/resources"
     class="develop-tab">
              Resources
            </a>
          </nav>
          <section class="develop-toolbar__section develop-toolbar__section--search mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
            <button 
    class="search-form__button search-form__button--open"
    id="top-level-search-open"
    aria-label="Search">
              <div class="search-form__search-icon" id="spyglass-icon"></div>
            </button>
          </section>
        </section>
      </div>
    </header>
    <div class="page__content page__flex-element">
      <div class="page__drawer mdc-permanent-drawer">
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </div>
      <section class="page__main-section">
        <article class="page__article article article--icon-text_field">
          <h1 id="text-fields">Text Fields</h1>
          <p class="article__asset article__asset--screenshot"><img src="/components/images/content/afb17388cb153618eb7a1e042ef9828a.svg" alt="Text Fields" /></p>
          <p><code>TextInputLayout</code> provides an implementation for <a href="https://material.io/go/design-text-fields">Material text
              fields</a>. Used in conjunction with a
            <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputEditText"><code>TextInputEditText</code></a>,
            <code>TextInputLayout</code> makes it easy to include Material <strong>text fields</strong> in your
            layouts.</p>
          <p><code>TextInputLayout</code> also provides an implementation for the
            <a href="https://material.io/design/components/menus.html#exposed-dropdown-menu">Exposed Dropdown Menu</a>
            when used in conjuction with an
            <a href="https://developer.android.com/reference/android/widget/AutoCompleteTextView">AutoCompleteTextView</a>
            and a <code>Widget.MaterialComponents.TextInputLayout.*.ExposedDropdownMenu</code> style.
            For information on the Exposed Dropdown Menu usage, see the <a href="/components/android/catalog/menu/#exposed-dropdown-menus">Menu documentation</a>.</p>
          <h2 id="design--api-documentation">Design &amp; API Documentation</h2>
          <ul class="icon-list">
            <li class="icon-list-item icon-list-item--spec"><a href="https://material.io/go/design-text-fields">Material Design guidelines: Text
                Fields</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://github.com/material-components/material-components-android/tree/master/lib/java/com/google/android/material/textfield/TextInputLayout.java">Class
                definition</a>
              <!-- Styles for list items requiring icons instead of standard bullets. --></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout">Class
                overview</a></li>
          </ul>
          <h2 id="usage">Usage</h2>
          <p>To create a material text field, add a <code>TextInputLayout</code> to your XML layout and
            a <code>TextInputEditText</code> as a direct child.</p>
          <pre><code class="language-xml">&lt;com.google.android.material.textfield.TextInputLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:hint="@string/hint_text"&gt;

  &lt;com.google.android.material.textfield.TextInputEditText
      android:layout_width="match_parent"
      android:layout_height="wrap_content"/&gt;

&lt;/com.google.android.material.textfield.TextInputLayout&gt;
</code></pre>
          <p>Note: A <code>TextInputEditText</code> should be used instead of an <code>EditText</code> as your
            input text component. An <code>EditText</code> might work, but <code>TextInputEditText</code> provides
            accessibility support for the text field and allows <code>TextInputLayout</code> greater
            control over the visual aspects of the input text.</p>
          <h3 id="material-styles">Material Styles</h3>
          <p>Using <code>TextInputLayout</code> with an updated Material theme
            (<code>Theme.MaterialComponents</code>) will provide the correct updated Material styles to
            your text fields by default. If you need to use an updated Material text field
            and your application theme does not inherit from an updated Material theme, you
            can apply one of the updated Material styles directly to your widget in XML.</p>
          <h4 id="filled-box-default">Filled Box (Default)</h4>
          <p>Filled text fields have a solid background color and draw more attention,
            especially in layouts where the field is surrounded by other elements. To use a
            filled text field, apply the following style to your <code>TextInputLayout</code>:</p>
          <pre><code class="language-xml">style="@style/Widget.MaterialComponents.TextInputLayout.FilledBox"
</code></pre>
          <p>To change the background color of a filled text field, you can set the
            <code>boxBackgroundColor</code> attribute on your <code>TextInputLayout</code>.</p>
          <p>Note: When using a filled text field with an <code>EditText</code> child that is not a
            <code>TextInputEditText</code>, make sure to set the <code>EditText</code>’s <code>android:background</code> to
            <code>@null</code>. This allows <code>TextInputLayout</code> to set a filled background on the
            <code>EditText</code>.</p>
          <h4 id="outlined-box">Outlined Box</h4>
          <p>Outlined text fields have a stroked border and are less emphasized. To use an
            outlined text field, apply the following style to your <code>TextInputLayout</code>:</p>
          <pre><code class="language-xml">style="@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox"
</code></pre>
          <p>To change the stroke color and width for an outline text field, you can set the
            <code>boxStrokeColor</code> and <code>boxStrokeWidth</code> attributes on your <code>TextInputLayout</code>,
            respectively.</p>
          <p>Note: When using an outlined text field with an <code>EditText</code> child that is not a
            <code>TextInputEditText</code>, make sure to set the <code>EditText</code>’s <code>android:background</code> to
            <code>@null</code>. This allows <code>TextInputLayout</code> to set an outline background on the
            <code>EditText</code>.</p>
          <h4 id="height-variations">Height Variations</h4>
          <p><code>TextInputLayout</code> provides two height variations for filled and outline text
            fields, <strong>standard</strong> and <strong>dense</strong>. Both box styles default to the standard
            height.</p>
          <p>In order to reduce the height of a text box, you can use a dense style, which
            will reduce the vertical padding within the text box. You can achieve this by
            applying the appropriate styles to your <code>TextInputLayout</code> and
            <code>TextInputEditText</code>, depending on whether you are using a filled or outline text
            field:</p>
          <h5 id="dense-filled-box">Dense Filled Box</h5>
          <p>Apply this style to your <code>TextInputLayout</code>: <code>xml
              style="@style/Widget.MaterialComponents.TextInputLayout.FilledBox.Dense"</code></p>
          <h5 id="dense-outline-box">Dense Outline Box</h5>
          <p>Apply this style to your <code>TextInputLayout</code>: <code>xml
              style="@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox.Dense"</code></p>
          <p>To change a text box’s internal padding and overall dimensions, you can adjust
            the <code>android:padding</code> attributes on the <code>TextInputEditText</code>.</p>
          <h5 id="corner-radius">Corner Radius</h5>
          <ul>
            <li><code>boxCornerRadiusTopStart</code></li>
            <li><code>boxCornerRadiusTopEnd</code></li>
            <li><code>boxCornerRadiusBottomStart</code></li>
            <li><code>boxCornerRadiusBottomEnd</code></li>
          </ul>
          <h2 id="common-features">Common features</h2>
          <p><code>TextInputLayout</code> provides functionality for a number of Material <a href="https://material.io/go/design-text-fields#text-fields-layout">text field
              features</a>.
            These are some commonly used properties you can update to control the look of
            your text field:</p>
          <table>
            <thead>
              <tr>
                <th style="text-align: left">Text field element</th>
                <th style="text-align: left">Relevant attributes/methods</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: left">Label (also called a “Floating Label”)</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_android_hint"><code>android:hint</code></a><br />
                  <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_hintEnabled"><code>app:hintEnabled</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Error message</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_errorEnabled"><code>app:errorEnabled</code></a><br />
                  <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#setError\(java.lang.CharSequence\)"><code>#setError(CharSequence)</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Error icon</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_errorIconDrawable"><code>app:errorIconDrawable</code></a><br />
                  <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#setErrorIconDrawable\(android.graphics.drawable.Drawable\)"><code>#setErrorIconDrawable(Drawable)</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Helper text</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_helperTextEnabled"><code>app:helperTextEnabled</code></a><br />
                  <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_helperText"><code>app:helperText</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Character counter</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_counterEnabled"><code>app:counterEnabled</code></a><br />
                  <a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_counterMaxLength"><code>app:counterMaxLength</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">End icon mode (password redaction, text clearing and custom mode)</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_endIconMode"><code>app:endIconMode</code></a></td>
              </tr>
            </tbody>
          </table>
          <h2 id="notes-about-setting-the-hint">Notes about setting the hint</h2>
          <p>The hint should be set on <code>TextInputLayout</code>, rather than the <code>TextInputEditText</code>
            or <code>EditText</code>. If a hint is specified on the child <code>EditText</code> in XML, the
            <code>TextInputLayout</code> might still work correctly; <code>TextInputLayout</code> will use the
            <code>EditText</code>’s hint as its floating label. However, future calls to modify the
            hint will not update <code>TextInputLayout</code>’s hint. To avoid unintended behavior,
            call <code>setHint()</code> and <code>getHint()</code> on <code>TextInputLayout</code>, instead of on <code>EditText</code>.</p>
          <h2 id="notes-about-using-textinputlayout-programmatically">Notes about using <code>TextInputLayout</code> programmatically</h2>
          <p>If you construct the <code>EditText</code> child of a <code>TextInputLayout</code> programmatically,
            you should use <code>TextInputLayout's</code> context to create the view. This will allow
            <code>TextInputLayout</code> to pass along the appropriate styling to the
            <code>TextInputEditText</code> or <code>EditText</code>.</p>
          <pre><code class="language-java">TextInputEditText editText = new TextInputEditText(textInputLayout.getContext());
</code></pre>
          <h2 id="end-icon-modes">End Icon Modes</h2>
          <p>The <code>TextInputLayout</code> provides certain pre-packaged <code>EndIconMode</code>s that come
            with specific behaviors. However, their appearance and behaviors can be
            customized via the end icon API and its attributes. The <code>TextInputLayout</code> also
            provides support for a custom end icon, with custom appearance and behaviors.</p>
          <p>Note: You should opt to use the <code>EndIconMode</code> API instead of setting an
            end/right compound drawable on the <code>EditText</code>.</p>
          <h3 id="pre-packaged-endiconmodes">Pre-packaged <code>EndIconMode</code>s</h3>
          <h4 id="password-redaction">Password redaction</h4>
          <p>If set, a button is displayed to toggle between the password being displayed as
            plain-text or disguised when the <code>EditText</code> is set to display a password.</p>
          <pre><code class="language-xml">&lt;com.google.android.material.textfield.TextInputLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:hint="@string/hint_text"
    app:endIconMode="password_toggle"&gt;

  &lt;com.google.android.material.textfield.TextInputEditText
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:inputType="textPassword"/&gt;

&lt;/com.google.android.material.textfield.TextInputLayout&gt;
</code></pre>
          <h4 id="text-clearing">Text clearing</h4>
          <p>If set, a button is displayed when text is present and clicking it clears the
            <code>EditText</code> field.</p>
          <pre><code class="language-xml">&lt;com.google.android.material.textfield.TextInputLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:hint="@string/hint_text"
    app:endIconMode="clear_text"&gt;

  &lt;com.google.android.material.textfield.TextInputEditText
      android:layout_width="match_parent"
      android:layout_height="wrap_content"/&gt;

&lt;/com.google.android.material.textfield.TextInputLayout&gt;
</code></pre>
          <h3 id="custom-endiconmode">Custom <code>EndIconMode</code></h3>
          <p>It is possible to set a custom drawable or button as the <code>EditText</code>’s end icon
            via <code>app:endIconMode="custom"</code>. You should specify a drawable and content
            description for the icon, and, optionally, specify custom behaviors.</p>
          <pre><code class="language-xml">&lt;com.google.android.material.textfield.TextInputLayout
    android:id="@+id/custom_end_icon"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:hint="@string/hint_text"
    app:endIconMode="custom"
    app:endIconDrawable="@drawable/custom_icon"
    app:endIconContentDescription="@string/custom_content_desc"&gt;

  &lt;com.google.android.material.textfield.TextInputEditText
      android:layout_width="match_parent"
      android:layout_height="wrap_content"/&gt;

&lt;/com.google.android.material.textfield.TextInputLayout&gt;
</code></pre>
          <p>Optionally, in code (more info on the section below):</p>
          <pre><code class="language-java">TextInputLayout textInputCustomEndIcon = view.findViewById(R.id.custom_end_icon);

// If the icon should work as button, set an OnClickListener to it
textInputCustomEndIcon
    .setEndIconOnClickListener(/* custom OnClickListener */);

// If any specific changes should be done when the EditText is attached (and
// thus when the end icon is added to it), set an OnEditTextAttachedListener
textInputCustomEndIcon
    .addOnEditTextAttachedListener(/* custom OnEditTextAttachedListener */);

// If any specific changes should be done if/when the endIconMode gets changed,
// set an OnEndIconChangedListener
textInputCustomEndIcon
    .addOnEndIconChangedListener(/* custom OnEndIconChangedListener */);
</code></pre>
          <h3 id="customizing-the-end-icon">Customizing the end icon</h3>
          <p>The following elements can be customized.</p>
          <table>
            <thead>
              <tr>
                <th style="text-align: left">End icon element</th>
                <th style="text-align: left">Relevant attributes/methods</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: left">Drawable</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_endIconDrawable"><code>app:endIconDrawable</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Content description</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_endIconContentDescription"><code>app:endIconContentDescription</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Tint</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_endIconTint"><code>app:endIconTint</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Tint mode</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#attr_TextInputLayout_endIconTintMode"><code>app:endIconTintMode</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Functionality</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#setEndIconOnClickListener(View.OnClickListener)"><code>#setEndIconOnClickListener(OnClickListener)</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Behavior that depends on the EditText*</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#addOnEditTextAttachedListener(OnEditTextAttachedListener)"><code>#addOnEditTextAttachedListener(OnEditTextAttachedListener)</code></a></td>
              </tr>
              <tr>
                <td style="text-align: left">Behavior if EndIconMode changes**</td>
                <td style="text-align: left"><a href="https://developer.android.com/reference/com/google/android/material/textfield/TextInputLayout#addOnEndIconChangedListener(OnEndIconChangedListener)"><code>#addOnEndIconChangedListener(OnEndIconChangedListener)</code></a></td>
              </tr>
            </tbody>
          </table>
          <p>* Example: The clear text end icon’s visibility behavior depends on whether the
            <code>EditText</code> has input present. Therefore, an <code>OnEditTextAttachedListener</code> is set
            so things like <code>editText.getText()</code> can be called.</p>
          <p>** Example: If the password toggle end icon is set and a different <code>EndIconMode</code>
            gets set, the <code>TextInputLayout</code> has to make sure that the <code>EditText</code>’s <code>TransformationMethod</code>
            is still <code>PasswordTransformationMethod</code>. Because of that, an <code>OnEndIconChangedListener</code>
            is used.</p>
          <h2 id="related-concepts">Related concepts</h2>
          <ul>
            <li><a href="https://developer.android.com/reference/android/widget/TextView.html">TextView</a></li>
            <li><a href="https://developer.android.com/training/keyboard-input/style.html">Specifying the Input Type (Android Developers
                Guide)</a></li>
            <li><a href="https://developer.android.com/guide/topics/text/copy-paste.html">Copy and Paste (Android Developers
                Guide)</a></li>
          </ul>
        </article>
        <footer class="footer">
          <section class="footer__content">
            <div class="footer__row">
              <a class="footer__logo-link">
                <div class="footer__logo"></div>
              </a>
              <div class="footer__copy">
                <p class="footer__description">Material design is an adaptable system—backed by open-source code—guiding you in the principles and best practices of contemporary UI. Material helps teams streamline the designer-developer collaboration, reduce complexity, and enable fidelity through reusable components, patterns, and code libraries. All while adapting easily to your brand, platform, and users’ needs.</p>
                <nav class="footer__navigation">
                  <ul class="footer__navigation-list">
                    <li class="footer__navigation-list-item">
                      <a href="https://www.github.com/material-components"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Github
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.twitter.com/materialdesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Twitter
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.youtube.com/googledesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        YouTube
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://services.google.com/fb/forms/materialdesignnewsletter/"
                  target="_blank"
                  class="footer-block__social-nav-link"
                  aria-label="Sign up for our newsletter">
                        Newsletter
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="footer__row footer-legal">
              <a class="footer-legal__logo-container" href="https://google.com">
                <img src="/develop/images/google-logo-gray.svg" alt="Google" />
              </a>
              <ul class="footer-legal__nav-list">
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/privacy"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Privacy Policy
                  </a>
                </li>
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/terms"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Terms and Conditions
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </footer>
      </section>
    </div>
    <template id="language-radio-template">
      <div class="mdc-form-field">
        <div class="mdc-radio">
          <input class="mdc-radio__native-control"
             type="radio"
             id="" name="" value="">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
        </div>
        <label class="language-name" for=""></label>
      </div>
    </template>
    <button
    class="feedback-button"
    aria-label="Send Feedback"
    tabindex="0">
    </button>
    <script src="/develop/js/index.js" async></script>
    <script src="https://www.gstatic.com/feedback/api.js" async></script>
  </body>
</html>