<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://material.io flutter.github.io https://www.google-analytics.com https://stats.g.doubleclick.net https://www.gstatic.com img.shields.io 'self' data:; script-src https://*.google.com http://*.google.com https://www.gstatic.com https://adservice.google.com https://www.googletagmanager.com https://www.google-analytics.com survey.g.doubleclick.net 'unsafe-inline' 'self'; style-src https://fonts.googleapis.com/css https://feedback.googleusercontent.com https://www.gstatic.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com/s/ 'self'; child-src https://feedback.googleusercontent.com http://www.google.com;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
    <title>Bottom App Bar - Material Components for Android</title>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NHRPF8');
    </script>
    <!-- End Google Tag Manager -->
    <meta itemprop="name" content="Bottom App Bar - Material Components for Android" />
    <meta itemprop="image" content="https://material.io/static/images/simple-lp/components-share.png" />
    <meta name="description" content="A flexible toolbar designed to provide a typical Material Design experience." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bottom App Bar - Material Components for Android" />
    <meta property="og:site_name" content="Material Components for Android" />
    <meta property="og:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <meta property="article:section" content="Bottom App Bar" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@materialdesign">
    <meta name="twitter:title" content="Material Components">
    <meta name="twitter:description" content="Create beautiful apps with modular and customizable UI components">
    <meta name="twitter:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <link rel="icon" sizes="192x192" href="/develop/images/app-icons/material-logo-app-icon-192x192.png">
    <link rel="shortcut icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/develop/images/app-icons/material-logo-app-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/develop/images/app-icons/material-logo-app-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://material.io/static/images/hub/favicons/hub-ms-icon-144x144.png">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/develop/css/codemirror.css">
    <link rel="stylesheet" href="/develop/css/neo.css">
    <link rel="stylesheet" href="/develop/css/app.css">
    <script async="" defer="" src="https://www.google.com/insights/consumersurveys/async_survey?site=znr647dh46pklceehuqef2fsua"></script>
  </head>
  <body class="page page--detail page--components page--platform-android">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHRPF8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <aside class="page__temporary-drawer mdc-drawer mdc-drawer--temporary page_drawer--temporary">
      <nav class="temporary-drawer__drawer mdc-drawer__drawer mdc-drawer__content">
        <header class="temporary-drawer__header mdc-drawer__header">
          <div class="temporary-drawer__header-content mdc-drawer__header-content">
            <div class="temporary-drawer__header-icon develop-toolbar__leading-icon"></div>
            Material Design
          </div>
        </header>
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </nav>
    </aside>
    <header class="develop-toolbar mdc-toolbar mdc-toolbar--fixed
    
    
      mdc-toolbar--platform
    ">
      <div class="search-form" id="top-level-search-bar">
        <form class="search-form__form" id="top-level-search-form">
          <input type="text"
        class="search-form__input"
        id="top-level-search-input"
        autocomplete="off" />
        </form>
        <div class="search-form__label" id="top-level-search-label">Search</div>
        <button
      class="search-form__button search-form__button--close"
      id="top-level-search-close"
      aria-label="Close search">
          <div class="search-form__close-icon" id="close-button-icon" data-mdc-ripple-is-unbounded></div>
        </button>
      </div>
      <div class="develop-toolbar__row mdc-toolbar__row">
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-start">
          <button class="menu-button" id="menu-open">
            <div class="menu-button__icon menu-button__icon--initial-load" id="menu-icon"></div>
          </button>
          <a class="develop-toolbar__title-link" href="/">
            <div class="develop-toolbar__leading-icon"></div>
            <h1 class="develop-toolbar__title mdc-toolbar__title">
              Material Design
            </h1>
          </a>
        </section>
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
          <nav id="navigation-tabs" class="develop-tab-bar">
            <a href="/design"
      class="develop-tab">
              Design
            </a>
            <a href="/components"
      class="develop-tab">
              Components
            </a>
            <a href="/develop"
      class="develop-tab develop-tab--active">
              Develop
              <span class="develop-tab__nav-indicator"></span>
            </a>
            <a href="/resources"
     class="develop-tab">
              Resources
            </a>
          </nav>
          <section class="develop-toolbar__section develop-toolbar__section--search mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
            <button 
    class="search-form__button search-form__button--open"
    id="top-level-search-open"
    aria-label="Search">
              <div class="search-form__search-icon" id="spyglass-icon"></div>
            </button>
          </section>
        </section>
      </div>
    </header>
    <div class="page__content page__flex-element">
      <div class="page__drawer mdc-permanent-drawer">
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </div>
      <section class="page__main-section">
        <article class="page__article article article--icon-bottom_app_bar">
          <h1 id="bottom-app-bars">Bottom App Bars</h1>
          <p>One of the defining features of Material Design is the design of the
            <code>BottomAppBar</code>. Based on the changing needs and behaviors of users, the
            <code>BottomAppBar</code> is an evolution from standard Material guidance. It puts more
            focus on features, increases engagement, and visually anchors the UI.</p>
          <h2 id="design--api-documentation">Design &amp; API Documentation</h2>
          <ul class="icon-list">
            <li class="icon-list-item icon-list-item--spec"><a href="https://material.io/go/design-app-bar-bottom">Material Design guidelines: Bottom App
                Bar</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://github.com/material-components/material-components-android/tree/master/lib/java/com/google/android/material/bottomappbar/BottomAppBar.java">Class
                definition</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://developer.android.com/reference/com/google/android/material/bottomappbar/BottomAppBar">Class
                overview</a></li>
          </ul>
          <h2 id="usage">Usage</h2>
          <p>Here’s an example of how to include the widget in your layout:</p>
          <pre><code class="language-xml">&lt;androidx.coordinatorlayout.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"&gt;

  &lt;!-- Other components and views --&gt;

  &lt;com.google.android.material.bottomappbar.BottomAppBar
      android:id="@+id/bar"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_gravity="bottom"
      app:navigationIcon="@drawable/ic_menu_24"/&gt;

  &lt;com.google.android.material.floatingactionbutton.FloatingActionButton
      android:id="@+id/fab"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      app:layout_anchor="@id/bar"/&gt;

&lt;/androidx.coordinatorlayout.widget.CoordinatorLayout&gt;
</code></pre>
          <p>The <code>FloatingActionButton</code> can be anchored to the <code>BottomAppBar</code> by setting
            <code>app:layout_anchor</code> or by calling
            <code>CoordinatorLayout.LayoutParams#setAnchorId(int)</code>.</p>
          <h3 id="material-styles">Material Styles</h3>
          <p>Using <code>BottomAppBar</code> with an updated Material theme (<code>Theme.MaterialComponents</code>)
            will provide the correct updated Material styles by default. If your application
            theme does not inherit from an updated Material theme, you can apply the
            <code>BottomAppBar</code> Material style directly to your widget in XML.</p>
          <pre><code class="language-xml">style="@style/Widget.MaterialComponents.BottomAppBar"
</code></pre>
          <h3 id="bottom-app-bar-attributes">Bottom App Bar Attributes</h3>
          <table>
            <thead>
              <tr>
                <th style="text-align: left">Feature</th>
                <th style="text-align: left">Relevant attributes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: left">Background Tint</td>
                <td style="text-align: left"><code>app:backgroundTint</code></td>
              </tr>
              <tr>
                <td style="text-align: left">FAB Alignment Mode</td>
                <td style="text-align: left"><code>app:fabAlignmentMode</code></td>
              </tr>
              <tr>
                <td style="text-align: left">FAB Cradle Margin</td>
                <td style="text-align: left"><code>app:fabCradleMargin</code></td>
              </tr>
              <tr>
                <td style="text-align: left">FAB Cradle Corner Radius</td>
                <td style="text-align: left"><code>app:fabCradleRoundedCornerRadius</code></td>
              </tr>
              <tr>
                <td style="text-align: left">FAB Vertical Offset</td>
                <td style="text-align: left"><code>app:fabCradleVerticalOffset</code></td>
              </tr>
              <tr>
                <td style="text-align: left">Hide on scroll</td>
                <td style="text-align: left"><code>app:hideOnScroll</code></td>
              </tr>
            </tbody>
          </table>
          <h4 id="background-tint">Background Tint</h4>
          <p>The <code>BottomAppBar</code> internally handles its own background. This allows it to
            automatically cradle the <code>FloatingActionButton</code> when it is attached, but it also
            means that you shouldn’t call <code>setBackground()</code> or use the <code>android:background</code>
            attribute in xml. Instead, the <code>app:backgroundTint</code> attribute will allow you to
            set a tint.</p>
          <h4 id="floatingactionbutton-alignment-modes"><code>FloatingActionButton</code> Alignment Modes</h4>
          <p>The <code>FloatingActionButton</code> can be aligned either to the center
            (<code>FAB_ALIGNMENT_MODE_CENTER</code>) or to the end (<code>FAB_ALIGNMENT_MODE_END</code>) by
            calling <code>setFabAlignmentMode(int)</code>. The default animation will automatically be
            run. This can be coordinated with a <code>Fragment</code> transition to allow for a smooth
            animation from a primary screen to a secondary screen.</p>
          <h4 id="floatingactionbutton-attributes"><code>FloatingActionButton</code> Attributes</h4>
          <p>The placement of the <code>FloatingActionButton</code> can be controlled by
            <code>fabAlignmentMode</code>, <code>fabCradleMargin</code>, <code>fabCradleRoundedCornerRadius</code>, and
            <code>fabCradleVerticalOffset</code>. The starting alignment mode (<code>fabAlignmentMode</code>) can
            be set to either <code>center</code> or <code>end</code>. Changing the <code>fabCradleMargin</code> will increase
            or decrease the distance between the <code>FloatingActionButton</code> and the
            <code>BottomAppBar</code>. The <code>fabCradleRoundedCornerRadius</code> specifies the roundness of
            the corner around the cutout. The <code>fabCradleVerticalOffset</code> specifies the
            vertical offset between the <code>FloatingActionButton</code> and the <code>BottomAppBar</code>. If
            <code>fabCradleVerticalOffset</code> is 0, the center of the <code>FloatingActionButton</code> will be
            aligned with the top of the <code>BottomAppBar</code>.</p>
          <h4 id="hide-on-scroll">Hide on scroll</h4>
          <p>The <code>BottomAppBar</code> can be set to hide on scroll with the <code>hideOnScroll</code>
            attribute. To enable this behavior, you should ensure that the scrolling content
            is in a <code>NestedScrollView</code>. There’s no need to wrap the <code>BottomAppBar</code> in an
            <code>AppBarLayout</code> or use any of the scroll flags associated with <code>AppBarLayout</code>
            such as <code>app:layout_scrollFlags</code>.</p>
          <h3 id="handling-menu-options">Handling Menu Options</h3>
          <p>There are two ways to handle menu options. The first way is to directly call
            <code>setOnMenuItemClickListener(OnMenuItemClickListener)</code> and to handle the menu
            options in the callback:</p>
          <pre><code class="language-java">BottomAppBar bar = (BottomAppBar) findViewById(R.id.bar);

bar.setOnMenuItemClickListener(new OnMenuItemClickListener() {
    @Override
    public boolean onMenuItemClick(MenuItem item) {
        // Handle actions based on the menu item
        return true;
    }
});
</code></pre>
          <p>The other way is to call <code>setSupportActionBar()</code> on the <code>BottomAppBar</code>. This
            will set up the menu callbacks in a similar way to Toolbar which hooks into
            <code>Activity#onCreateOptionsMenu()</code> and <code>Activity#onOptionsItemSelected()</code>. This
            makes it easier to transition from a <code>Toolbar</code> which was set as the action bar
            to a <code>BottomAppBar</code>. This will also allow you to handle the navigation item
            click by checking if the menu item id is <code>android.R.id.home</code>.</p>
          <pre><code class="language-java">BottomAppBar bar = (BottomAppBar) findViewById(R.id.bar);
setSupportActionBar(bar);
</code></pre>
          <h3 id="handling-navigation-item-click">Handling Navigation Item Click</h3>
          <p>If you use <code>setSupportActionBar()</code> to set up the <code>BottomAppBar</code> you can handle
            the navigation menu click by checking if the menu item id is
            <code>android.R.id.home</code>. The other option is to call
            <code>setNavigationOnClickListener(OnClickListener)</code>:</p>
          <pre><code class="language-java">BottomAppBar bar = (BottomAppBar) findViewById(R.id.bar);
bar.setNavigationOnClickListener(new OnClickListener() {
    @Override
    public void onClick(View v) {
        // Handle the navigation click by showing a BottomDrawer etc.
    }
});
</code></pre>
        </article>
        <footer class="footer">
          <section class="footer__content">
            <div class="footer__row">
              <a class="footer__logo-link">
                <div class="footer__logo"></div>
              </a>
              <div class="footer__copy">
                <p class="footer__description">Material design is an adaptable system—backed by open-source code—guiding you in the principles and best practices of contemporary UI. Material helps teams streamline the designer-developer collaboration, reduce complexity, and enable fidelity through reusable components, patterns, and code libraries. All while adapting easily to your brand, platform, and users’ needs.</p>
                <nav class="footer__navigation">
                  <ul class="footer__navigation-list">
                    <li class="footer__navigation-list-item">
                      <a href="https://www.github.com/material-components"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Github
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.twitter.com/materialdesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Twitter
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.youtube.com/googledesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        YouTube
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://services.google.com/fb/forms/materialdesignnewsletter/"
                  target="_blank"
                  class="footer-block__social-nav-link"
                  aria-label="Sign up for our newsletter">
                        Newsletter
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="footer__row footer-legal">
              <a class="footer-legal__logo-container" href="https://google.com">
                <img src="/develop/images/google-logo-gray.svg" alt="Google" />
              </a>
              <ul class="footer-legal__nav-list">
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/privacy"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Privacy Policy
                  </a>
                </li>
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/terms"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Terms and Conditions
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </footer>
      </section>
    </div>
    <template id="language-radio-template">
      <div class="mdc-form-field">
        <div class="mdc-radio">
          <input class="mdc-radio__native-control"
             type="radio"
             id="" name="" value="">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
        </div>
        <label class="language-name" for=""></label>
      </div>
    </template>
    <button
    class="feedback-button"
    aria-label="Send Feedback"
    tabindex="0">
    </button>
    <script src="/develop/js/index.js" async></script>
    <script src="https://www.gstatic.com/feedback/api.js" async></script>
  </body>
</html>