<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://material.io flutter.github.io https://www.google-analytics.com https://stats.g.doubleclick.net https://www.gstatic.com img.shields.io 'self' data:; script-src https://*.google.com http://*.google.com https://www.gstatic.com https://adservice.google.com https://www.googletagmanager.com https://www.google-analytics.com survey.g.doubleclick.net 'unsafe-inline' 'self'; style-src https://fonts.googleapis.com/css https://feedback.googleusercontent.com https://www.gstatic.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com/s/ 'self'; child-src https://feedback.googleusercontent.com http://www.google.com;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
    <title>Extended Floating Action Button - Material Components for Android</title>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-NHRPF8');
    </script>
    <!-- End Google Tag Manager -->
    <meta itemprop="name" content="Extended Floating Action Button - Material Components for Android" />
    <meta itemprop="image" content="https://material.io/static/images/simple-lp/components-share.png" />
    <meta name="description" content="A customizable button component with updated visual styles." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Extended Floating Action Button - Material Components for Android" />
    <meta property="og:site_name" content="Material Components for Android" />
    <meta property="og:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <meta property="article:section" content="Extended Floating Action Button" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@materialdesign">
    <meta name="twitter:title" content="Material Components">
    <meta name="twitter:description" content="Create beautiful apps with modular and customizable UI components">
    <meta name="twitter:image" content="https://material.io/static/images/simple-lp/components-share.png">
    <link rel="icon" sizes="192x192" href="/develop/images/app-icons/material-logo-app-icon-192x192.png">
    <link rel="shortcut icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/develop/images/app-icons/material-logo-app-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/develop/images/app-icons/material-logo-app-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/develop/images/app-icons/material-logo-app-icon-180x180.png">
    <meta name="msapplication-TileImage" content="https://material.io/static/images/hub/favicons/hub-ms-icon-144x144.png">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/develop/css/codemirror.css">
    <link rel="stylesheet" href="/develop/css/neo.css">
    <link rel="stylesheet" href="/develop/css/app.css">
    <script async="" defer="" src="https://www.google.com/insights/consumersurveys/async_survey?site=znr647dh46pklceehuqef2fsua"></script>
  </head>
  <body class="page page--detail page--components page--platform-android">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHRPF8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <aside class="page__temporary-drawer mdc-drawer mdc-drawer--temporary page_drawer--temporary">
      <nav class="temporary-drawer__drawer mdc-drawer__drawer mdc-drawer__content">
        <header class="temporary-drawer__header mdc-drawer__header">
          <div class="temporary-drawer__header-content mdc-drawer__header-content">
            <div class="temporary-drawer__header-icon develop-toolbar__leading-icon"></div>
            Material Design
          </div>
        </header>
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </nav>
    </aside>
    <header class="develop-toolbar mdc-toolbar mdc-toolbar--fixed
    
    
      mdc-toolbar--platform
    ">
      <div class="search-form" id="top-level-search-bar">
        <form class="search-form__form" id="top-level-search-form">
          <input type="text"
        class="search-form__input"
        id="top-level-search-input"
        autocomplete="off" />
        </form>
        <div class="search-form__label" id="top-level-search-label">Search</div>
        <button
      class="search-form__button search-form__button--close"
      id="top-level-search-close"
      aria-label="Close search">
          <div class="search-form__close-icon" id="close-button-icon" data-mdc-ripple-is-unbounded></div>
        </button>
      </div>
      <div class="develop-toolbar__row mdc-toolbar__row">
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-start">
          <button class="menu-button" id="menu-open">
            <div class="menu-button__icon menu-button__icon--initial-load" id="menu-icon"></div>
          </button>
          <a class="develop-toolbar__title-link" href="/">
            <div class="develop-toolbar__leading-icon"></div>
            <h1 class="develop-toolbar__title mdc-toolbar__title">
              Material Design
            </h1>
          </a>
        </section>
        <section class="develop-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
          <nav id="navigation-tabs" class="develop-tab-bar">
            <a href="/design"
      class="develop-tab">
              Design
            </a>
            <a href="/components"
      class="develop-tab">
              Components
            </a>
            <a href="/develop"
      class="develop-tab develop-tab--active">
              Develop
              <span class="develop-tab__nav-indicator"></span>
            </a>
            <a href="/resources"
     class="develop-tab">
              Resources
            </a>
          </nav>
          <section class="develop-toolbar__section develop-toolbar__section--search mdc-toolbar__section mdc-toolbar__section--align-end develop-toolbar__section--fit-content">
            <button 
    class="search-form__button search-form__button--open"
    id="top-level-search-open"
    aria-label="Search">
              <div class="search-form__search-icon" id="spyglass-icon"></div>
            </button>
          </section>
        </section>
      </div>
    </header>
    <div class="page__content page__flex-element">
      <div class="page__drawer mdc-permanent-drawer">
        <div class="develop-menu-anchor mdc-menu-anchor mdc-toolbar__platform-chooser">
          <button class="toolbar-platform-chooser__button">
            <span class="toolbar-platform-chooser__label">android</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </button>
          <div class="toolbar-platform-chooser__menu mdc-menu" tabindex="-1">
            <ul class="platform-selection__items mdc-menu__items mdc-list" role="menu" aria-hidden="true">
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/android">
                Android
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/ios">
                iOS
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/web">
                Web
              </li>
              <li class="platform-selection__item mdc-list-item"
          role="menuitem"
          tabindex="0"
          data-href="/develop/flutter">
                Flutter
              </li>
            </ul>
          </div>
        </div>
        <nav class="temporary-drawer__nav">
          <h3 class="drawer-heading">Components</h3>
          <ul class="drawer-list">
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/dialog/"
     >
                Alert Dialogs
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/badging/"
     >
                Badge
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-app-bar/"
     >
                Bottom App Bar
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-navigation-view/"
     >
                Bottom Navigation
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-behavior/"
     >
                Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/checkbox/"
     >
                Checkboxes
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/chip/"
     >
                Chips
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/collapsing-toolbar-layout/"
     >
                Collapsing Toolbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  drawer-list__item--active
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/extended-floating-action-button/"
     >
                Extended Floating Action Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/floating-action-button/"
     >
                Floating Action Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button/"
     >
                Material Button
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-button-toggle-group/"
     >
                Material Button Toggle Group
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-card-view/"
     >
                Material Card
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/material-text-view/"
     >
                Material Text View
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/menu/"
     >
                Menus
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/bottom-sheet-dialog-fragment/"
     >
                Modal Bottom Sheets
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/navigation-view/"
     >
                Navigation Views
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/radiobutton/"
     >
                Radio Buttons
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/snackbar/"
     >
                Snackbars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/switch/"
     >
                Switches
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/tab-layout/"
     >
                Tab Layout
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/text-input-layout/"
     >
                Text Fields
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
            <li class="drawer-list__item
  
  
  ">
              <a class="drawer-link"
     
       href="/components/android/catalog/app-bar-layout/"
     >
                Top App Bars
              </a>
              <ul class="drawer-list drawer-list--sublevel">
              </ul>
            </li>
          </ul>
          <a class="drawer-link drawer-link--no-list"
        href="/components/android/docs/building-from-source/">Documentation</a>
          <a class="drawer-link drawer-link--no-list"
          href="/components/android/theming/color/">Theming</a>
        </nav>
      </div>
      <section class="page__main-section">
        <article class="page__article article article--icon-button">
          <h1 id="extended-floating-action-button">Extended Floating Action Button</h1>
          <p>An <code>ExtendedFloatingActionButton</code> displays the primary action in an application.
            The Extended FAB is wider than the regular <code>FloatingActionButton</code>, and it
            includes a text label.</p>
          <p>Extended floating action buttons provide quick access to important or common
            actions within an app. They have a variety of uses, including:</p>
          <ul>
            <li>Performing a common action, such as starting a new email in a mail app.</li>
            <li>Displaying additional related actions.</li>
            <li>Update or transforming into other UI elements on the screen.</li>
          </ul>
          <p>Extended floating action buttons adjust their position and visibility in
            response to other UI elements on the screen.</p>
          <h2 id="design--api-documentation">Design &amp; API Documentation</h2>
          <ul class="icon-list">
            <li class="icon-list-item icon-list-item--spec"><a href="https://material.io/go/design-extended-fab">Material Design guidelines: Floating Action Buttons</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://github.com/material-components/material-components-android/tree/master/lib/java/com/google/android/material/floatingactionbutton/ExtendedFloatingActionButton.java">Class definition</a></li>
            <li class="icon-list-item icon-list-item--link"><a href="https://developer.android.com/reference/com/google/android/material/floatingactionbutton/ExtendedFloatingActionButton">Class overview</a></li>
          </ul>
          <h2 id="usage">Usage</h2>
          <p>The <code>ExtendedFloatingActionButton</code> widget provides a complete implementation of
            Material Design’s extended FAB component. The example below shows a usage of the
            extended FAB within a CoordinatorLayout, but the CoordinatorLayout is not
            necessary for this component. There are more generic examples of usage later on.
            Here’s how to include the widget in your layout:</p>
          <pre><code class="language-xml">&lt;androidx.coordinatorlayout.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"&gt;

  &lt;!-- Main content --&gt;

  &lt;com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:layout_margin="8dp"
      android:contentDescription="@string/extended_fab_content_desc"
      android:text="@string/extended_fab_label"
      app:icon="@drawable/ic_plus_24px"
      app:layout_anchor="@id/app_bar"
      app:layout_anchorGravity="bottom|right|end"/&gt;

&lt;/androidx.coordinatorlayout.widget.CoordinatorLayout&gt;
</code></pre>
          <p>Note: <code>ExtendedFloatingActionButton</code> is a child class of <code>MaterialButton</code>,
            rather than <code>FloatingActionButton</code>. This means that several attributes which are
            applicable to <code>FloatingActionButton</code> have different naming in
            <code>ExtendedFloatingActionButton</code>. For example, <code>FloatingActionButton</code> uses
            <code>app:srcCompat</code> to set the icon drawable, whereas <code>ExtendedFloatingActionButton</code>
            uses <code>app:icon</code>. To compare the attribute sets for these two components, please
            see the <a href="/components/android/catalog/floating-action-button/">FloatingActionButton</a> page, and the
            “Attributes” table on this page.</p>
          <h3 id="material-styles">Material Styles</h3>
          <p>Using <code>ExtendedFloatingActionButton</code> with a Material theme
            (<code>Theme.MaterialComponents</code>) will provide the correct Material styling to your
            extended FABs by default.</p>
          <h4 id="default-extended-floating-action-button-style">Default Extended Floating Action Button Style</h4>
          <p>The default style represents an extended floating action button with a colored
            background, text, and an icon.</p>
          <pre><code class="language-xml">  &lt;com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:contentDescription="@string/extended_fab_content_desc"
      android:text="@string/extended_fab_label"
      app:icon="@drawable/ic_plus_24px"/&gt;
</code></pre>
          <p>Extended FABs with no style directly applied to them, but with a Material theme
            applied, are styled with the
            <code>Widget.MaterialComponents.ExtendedFloatingActionButton.Icon</code> style. The <code>Icon</code>
            suffix indicates that the paddings for this button have been adjusted to give a
            more even spacing when an icon is present.</p>
          <h4 id="text-only-extended-floating-action-button-style">Text-only Extended Floating Action Button Style</h4>
          <pre><code class="language-xml">  &lt;com.google.android.material.floatingactionbutton.ExtendedFloatingActionButton
      style="@style/Widget.MaterialComponents.ExtendedFloatingActionButton"
      android:layout_width="wrap_content"
      android:layout_height="wrap_content"
      android:contentDescription="@string/extended_fab_content_desc"
      android:text="@string/extended_fab_label"/&gt;
</code></pre>
          <p>The <code>Widget.MaterialComponents.ExtendedFloatingActionButton</code>, with no <code>Icon</code>
            suffix, indicates that the paddings for this extended FAB are more suited for a
            text-only button. This style should only be used when your extended FAB does not
            need to display an icon, and must be manually applied to your extended FAB.</p>
          <h2 id="attributes">Attributes</h2>
          <p>The following attributes can be changed for Extended Floating Action Button:</p>
          <table>
            <thead>
              <tr>
                <th>Description</th>
                <th>Relevant attributes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Button padding</td>
                <td><code>android:padding</code><br />
                  <code>android:paddingLeft</code><br />
                  <code>android:paddingRight</code><br />
                  <code>android:paddingStart</code><br />
                  <code>android:paddingEnd</code><br />
                  <code>android:paddingTop</code><br />
                  <code>android:paddingBottom</code></td>
              </tr>
              <tr>
                <td>Button inset</td>
                <td><code>android:insetLeft</code><br />
                  <code>android:insetRight</code><br />
                  <code>android:insetTop</code><br />
                  <code>android:insetBottom</code></td>
              </tr>
              <tr>
                <td>Background color</td>
                <td><code>app:backgroundTint</code><br />
                  <code>app:backgroundTintMode</code></td>
              </tr>
              <tr>
                <td>Icon drawable</td>
                <td><code>app:icon</code><br />
                  <code>app:iconSize</code></td>
              </tr>
              <tr>
                <td>Padding between icon and text</td>
                <td><code>app:iconPadding</code></td>
              </tr>
              <tr>
                <td>Icon color</td>
                <td><code>app:iconTint</code><br />
                  <code>app:iconTintMode</code></td>
              </tr>
              <tr>
                <td>Stroke</td>
                <td><code>app:strokeColor</code><br />
                  <code>app:strokeWidth</code></td>
              </tr>
              <tr>
                <td>Ripple</td>
                <td><code>app:rippleColor</code></td>
              </tr>
              <tr>
                <td>Shape</td>
                <td><code>app:shapeAppearance</code><br />
                  <code>app:shapeAppearanceOverlay</code></td>
              </tr>
            </tbody>
          </table>
          <h3 id="theme-attribute-mapping">Theme Attribute Mapping</h3>
          <pre><code>style="@style/Widget.MaterialComponents.ExtendedFloatingActionButton" and
style="@style/Widget.MaterialComponents.ExtendedFloatingActionButton.Icon"
</code></pre>
          <table>
            <thead>
              <tr>
                <th>Component Attribute</th>
                <th>Default Theme Attribute Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><code>android:textAppearance</code></td>
                <td><code>textAppearanceButton</code></td>
              </tr>
              <tr>
                <td><code>backgroundTint</code></td>
                <td><code>colorSecondary</code></td>
              </tr>
              <tr>
                <td><code>iconTint</code></td>
                <td><code>colorOnSecondary</code></td>
              </tr>
              <tr>
                <td><code>rippleColor</code></td>
                <td><code>colorOnSecondary</code> at 32% opacity (pressed)</td>
              </tr>
              <tr>
                <td><code>android:textColor</code></td>
                <td><code>colorOnSecondary</code></td>
              </tr>
            </tbody>
          </table>
          <h3 id="visibility">Visibility</h3>
          <p>Use the <code>show</code> and <code>hide</code> methods to animate the visibility of a
            <code>ExtendedFloatingActionButton</code>. The show animation grows the widget and fades it
            in, while the hide animation shrinks the widget and fades it out.</p>
          <h3 id="extending-and-shrinking">Extending and Shrinking</h3>
          <p>In addition, <code>ExtendedFloatingActionButton</code> has the methods <code>extend</code> and
            <code>shrink</code> to animate showing and hiding the extended FAB’s text. The <code>extend</code>
            animation extends the FAB to show the text and the icon. The <code>shrink</code> animation
            shrinks the FAB to show just the icon.</p>
          <h2 id="related-concepts">Related Concepts</h2>
          <ul>
            <li><a href="/components/android/catalog/floating-action-button/">FloatingActionButton</a></li>
            <li><a href="/components/android/catalog/material-button/">MaterialButton</a></li>
          </ul>
        </article>
        <footer class="footer">
          <section class="footer__content">
            <div class="footer__row">
              <a class="footer__logo-link">
                <div class="footer__logo"></div>
              </a>
              <div class="footer__copy">
                <p class="footer__description">Material design is an adaptable system—backed by open-source code—guiding you in the principles and best practices of contemporary UI. Material helps teams streamline the designer-developer collaboration, reduce complexity, and enable fidelity through reusable components, patterns, and code libraries. All while adapting easily to your brand, platform, and users’ needs.</p>
                <nav class="footer__navigation">
                  <ul class="footer__navigation-list">
                    <li class="footer__navigation-list-item">
                      <a href="https://www.github.com/material-components"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Github
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.twitter.com/materialdesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        Twitter
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://www.youtube.com/googledesign"
                  target="_blank"
                  class="footer-block__social-nav-link">
                        YouTube
                      </a>
                    </li>
                    <li class="footer__navigation-list-item">
                      <a href="https://services.google.com/fb/forms/materialdesignnewsletter/"
                  target="_blank"
                  class="footer-block__social-nav-link"
                  aria-label="Sign up for our newsletter">
                        Newsletter
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="footer__row footer-legal">
              <a class="footer-legal__logo-container" href="https://google.com">
                <img src="/develop/images/google-logo-gray.svg" alt="Google" />
              </a>
              <ul class="footer-legal__nav-list">
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/privacy"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Privacy Policy
                  </a>
                </li>
                <li class="footer-legal__nav-list-item">
                  <a href="https://policies.google.com/terms"
              target="_blank"
              class="footer-legal__nav-list-link">
                    Terms and Conditions
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </footer>
      </section>
    </div>
    <template id="language-radio-template">
      <div class="mdc-form-field">
        <div class="mdc-radio">
          <input class="mdc-radio__native-control"
             type="radio"
             id="" name="" value="">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
        </div>
        <label class="language-name" for=""></label>
      </div>
    </template>
    <button
    class="feedback-button"
    aria-label="Send Feedback"
    tabindex="0">
    </button>
    <script src="/develop/js/index.js" async></script>
    <script src="https://www.gstatic.com/feedback/api.js" async></script>
  </body>
</html>